<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/creme-dental.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creme-dental</h5>
          <p class="card-text">Creme dental Colgate luminous white</p>
              <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/creme-dental.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creme-dental</h5>
          <p class="card-text">Creme dental Colgate luminous white</p>
              <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/creme-dental.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creme-dental</h5>
          <p class="card-text">Creme dental Colgate luminous white</p>
              <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/creme-dental.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creme-dental</h5>
          <p class="card-text">Creme dental Colgate luminous white</p>
              <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>
</div>

